<div>
    <h1>Bienvenido {{firstName}}</h1>
</div>

<div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">First Name: {{firstName}}</li>
        <li class="list-group-item">Email: {{email}}</li>
        <li class="list-group-item">Role: {{role}}</li>
    </ul>
</div>

<div>
    <button type="button" class="btn btn-primary"><a href="/products" style="color: white; text-decoration: none;">Products</a></button>
    <button type="button" class="btn btn-danger"><a href="/api/sessions/logout" style="color: white; text-decoration: none;">Logout</a></button>
</div>
