<link rel="stylesheet" href="/css/styles.css">
<form action="/api/sessions/register" method="post">
<section class="form-register">
    <h4>Formulario De Registro</h4>
    <input class="control-register" type="text" name="firstName" id="firstName" placeholder="Ingrese su Nombre">
    <input class="control-register" type="text" name="lastName" id="lastName" placeholder="Ingrese su Apellido">
    <input class="control-register" type="text" name="age" id="age" placeholder="Ingrese su Edad">
    <input class="control-register" type="text" name="email" id="email" placeholder="Ingrese su Email">
    <input class="control-register" type="text" name="password" id="password" placeholder="Ingrese su Contraseña">
    <input class="control-register" type="text" name="role" id="role" placeholder="Ingrese su Role">
    <input class="boton-register" type="submit" value="Registrar">
    <p><a href="/">¿Ya Tengo Cuenta?</a></p>
</section>
</form>

